{{ define "main" }}

    {{ if .Params.redirectURL }}
        <meta http-equiv="refresh" content="0; url={{ .Params.redirectURL }}" />
        <link rel="canonical" href="{{ .Params.redirectURL }}" />
        <script>
            window.location.href = "{{ .Params.redirectURL }}";
        </script>
    {{ else }}
        <!-- Fallback to theme's single.html -->
        {{ $themeSingle := resources.Get "layouts/_default/single.html" }}
        {{ $themeSingleContent := $themeSingle.Content }}
        {{ $themeSingleContent }}
    {{ end }}

{{ end }}