{{ define "main" }}

    {{ if .Params.redirectURL }}
        <meta http-equiv="refresh" content="0; url={{ .Params.redirectURL }}" />
        <link rel="canonical" href="{{ .Params.redirectURL }}" />
        <script>
            window.location.href = "{{ .Params.redirectURL }}";
        </script>
    {{ else }}
        <!-- Fallback to theme's single.html -->
        <div class="container" role="main">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
                    <article role="main" class="blog-post">
                        {{ .Content }}
                    </article>
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}