{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $process := .Get "process" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $class := .Get "class" }}
{{ $caption := .Get "caption" }}
{{ $quality := .Get "quality" | default 75 }}

{{ $image := .Page.Resources.GetMatch $src }}
{{ if not $image }}
    <!-- Handle static files -->
    <img src="{{ $src }}" alt="{{ $alt }}"
        {{ with $class }}class="{{ . }}"{{ end }}
        {{ with $width }}width="{{ . }}"{{ end }}
        {{ with $height }}height="{{ . }}"{{ end }}>
{{ else }}
    <!-- Handle Page Resources -->
    {{ if $caption }}<figure>{{ end }}
    {{ if $process }}
        {{ $processed := cond (in $process "fill") ( $image.Fill $process ) ( $image.Resize $process ) }}
        <img src="{{ $processed.RelPermalink }}" alt="{{ $alt }}"
            {{ with $class }}class="{{ . }}"{{ end }}    
            {{ with $width }}width="{{ . }}"{{ end }}
            {{ with $height }}height="{{ . }}"{{ end }}>
    {{ else }}
        <img src="{{ $image.RelPermalink }}" alt="{{ $alt }}"
            {{ with $class }}class="{{ . }}"{{ end }}
            {{ with $width }}width="{{ . }}"{{ end }}
            {{ with $height }}height="{{ . }}"{{ end }}>
    {{ end }}
    {{ if $caption }}
        <figcaption>{{ $caption | markdownify }}</figcaption>
    {{ end }}
{{ end }}
